[submodule "modules/columnflow"]
    path = modules/columnflow
    url = ../columnflow.git

[submodule "modules/analysis-grand-challenge"]
    path = modules/analysis-grand-challenge
    url = git@github.com:iris-hep/analysis-grand-challenge.git
